/*---------------------- Global Settings ----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---------------------- Main Body Settings ----------------------*/
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: rgba(36, 36, 36, 0.6);
  background-blend-mode: overlay;
  background-image: url(/Users/dbern/Desktop/Git/secure-password-generator/assets/images/pexels-markus-spiske-330771.jpg);
  background-size: cover;
  display: flex;
  margin: auto;
  justify-content: center;
  letter-spacing: -1px;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/*----------------------- Header Settings -----------------------*/
header {
  text-align: center;
  color: hsl(93, 100%, 71%);
  font-size: 2.5em;
  flex: 1;
}

/*----------------------- Card Settings -----------------------*/
.card {
  background-color: rgba(41, 41, 41, 0.9);
  border-radius: 7px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  flex: 1;
}

.card-header {
  flex: 1;
}

.card-header h2 {
  text-align: center;
  font-size: 3em;
  color: hsl(93, 100%, 71%);
}

.card-header::after {
  content: " ";
  display: flex;
  width: 100%;
  background-color: #1d1d1d;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

textarea {
  background-color: rgb(21, 21, 21);
  color: hsl(93, 100%, 71%);
}

.card-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.card-footer::before {
  content: " ";
  display: flex;
  width: 60%;
  background-color: #1d1d1d;;
  height: 2px;
  margin: auto;
}

.card-footer::after {
  content: " ";
  display: flex;
  clear: both;
}

/*----------------------- Card Button Settings -----------------------*/
.btn {
  border: none;
  background-color: hsl(93, 100%, 71%);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 18%);
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.btn:hover {
  background-color: hsl(93, 100%, 62%);;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/*----------------------- Text Area Settings -----------------------*/
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/*----------------------- Media Queries Start Here -----------------------*/

/*----------------------- Media Query up to 860px -----------------------*/
@media (max-width: 860px) {
  header h1 {
    font-size: 3.5rem;
    }
    .btn {
      font-size: 1.5rem;
    }
    .card-footer {
      width: 70%;
    }
  }

/*----------------------- Media Query up to 690px -----------------------*/
@media (max-width: 690px) {
  header h1 {
    font-size: 3rem;
    }
  .btn {
    font-size: 1.5rem;
    line-height: 30px;
  }

  #password {
    font-size: 1rem;
  }
  .card-header h2 {
    font-size: 2.5rem;
  }
  .card-footer {
    width: 70%;
  }
}

/*----------------------- Media Query up to 500px -----------------------*/
@media (max-width: 450px) {
  header h1 {
    font-size: 3rem;
    }
  .card-header h2 {
    font-size: 2.5rem;
  }
  .card-footer {
    width: 70%;
  }
}

/*----------------------- Media Query up to 375px -----------------------*/
@media (max-width: 375px) {
  header h1 {
  font-size: 3rem;
  }
  .btn {
    font-size: 1.5rem;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .card-header h2 {
    font-size: 2rem;
  }
  .card-footer {
    width: 70%;
    margin-right: 40px;
  }
}
